:root {
    --basic-red: #FB565A;
    --hover-red: #E74246;
    --deep-red: #D7373B;
    --basic-green: #00CA74;
    --hover-green: #00BC6C;
    --deep-green: #00AA62;
    --basic-yellow: #EFC849;
    --hover-yellow: #EAB534;
    --deep-yellow: #E5A722;
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --basic-grey: #EEEEEE;
    --hover-grey: #DFDFDF;
    --deep-grey: #D5D5D5;
    --special-grey: #666666;
}

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.container {
    width: 1160px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

.main-header {
    background-color: var(--basic-grey);
    padding-top: 30px;
}

.logo:hover {
    opacity: 0.7;
}

.logo:active {
    opacity: 0.3;
}

.main-navigation {
    display: grid;
    grid-template-columns: 160px min-content 160px;
    align-items: center;
    gap: 200px;
    margin-top: 25px;
}

.main-navigation a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--basic-black);
}

.main-navigation a:hover {
    color: var(--basic-red);
}

.main-navigation a:active {
    opacity: 0.3;
}

.navigation-list {
    padding: 0;
    margin: 0;
    display: flex;
    column-gap: 47px;
}

.navigation-list li {
    list-style: none;
}

.slider-item {
    display: flex;
}

.slider-item p:first-child {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
}

.slider-info {
    width: 400px;
}

.slider-photo {
    width: 760px;
}

.work {
    margin-top: 80px;
}

.work-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 100px;
}

.about {
    border-top: 2px solid var(--basic-grey);
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.about-info {
    margin-top: 40px;
}

.about-info h2 {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
}

.button {
    display: inline-block;
    line-height: 18px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 3px;
    color: var(--basic-white);
}

.button:active {
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-red {
    background-color: var(--basic-red);
}

.button-red:hover {
    background-color: var(--hover-red);
}

.button-red:active {
    background-color: var(--deep-red);
    opacity: 0.3;
}

.button-green {
    background-color: var(--basic-green);
}

.button-green:hover {
    background-color: var(--hover-green);
}

.button-green:active {
    background-color: var(--deep-green);
    opacity: 0.3;
}

.button-yellow {
    background-color: var(--basic-yellow);
}

.button-yellow:hover {
    background-color: var(--hover-yellow);
}

.button-yellow:active {
    background-color: var(--deep-yellow);
    opacity: 0.3;
}

.skill-list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.skill-list li {
    padding-right: 20px;
}

.skill-list b {
    font-size: 45px;
    line-height: 64px;
}

.partners {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 2px solid var(--basic-grey);
    border-bottom: 2px solid var(--basic-grey);
    padding: 0;
    margin: 80px 0 0 0;
}

.partners li {
    align-self: center;
    list-style: none;
    border-right: 2px solid var(--basic-grey);
    padding: 10px;
    margin: 10px;
}

.partners li:last-child {
    border: none;
}

.partners a {
    opacity: 0.2;
}

.partners a:hover {
    opacity: 1;
}

.partners a:active {
    opacity: 0.1;
}

.map {
    margin-top: 80px;
}

.map-info {
    position: absolute;
    left: calc(50% - 580px);
    background-color: var(--basic-white);
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 54px;
    margin-bottom: 54px;
}

.map-info h2 {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    margin-top: 49px;
    margin-bottom: 23px;
}

.map-info p {
    line-height: 18px;
    color: var(--special-grey);
}

.map-info button {
    width: 219px;
    height: 50px;
    text-transform: uppercase;
    background-color: var(--basic-red);
    color: var(--basic-white);
    margin-top: 37px;
    margin-bottom: 47px;
    border: none;
    border-radius: 3px;
}

.map-description {
    overflow: hidden;
    position: relative;
}

.main-footer .container {
    margin-top: 69px;
    margin-bottom: 69px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.social {
    align-items: center;
    display: flex;
}

.social li {
    list-style: none;
    background-color: var(--basic-grey);
    border-radius: 50%;
    margin: 11px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 81px;
    height: 81px;
}

.social li:hover {
    background-color: var(--hover-red);
}

.social li:active {
    background-color: var(--deep-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    opacity: 0.3;
}

.social-info p:first-child {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 0;
}

.social-info p:last-child {
    line-height: 22px;
}

/* Стили для внутренней страницы */

.shop {
    border-bottom: 2px solid var(--basic-red);
}

.catalog-preview {
    text-align: center;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    margin-top: 80px;
    padding-bottom: 108px;
}

.catalog-container {
    display: grid;
    grid-template-columns: 260px 760px;
    column-gap: 140px;
}

.input-form {
    padding-top: 15px;
}

.input-form legend {
    text-transform: uppercase;
    font-weight: 700;
}

.input-form fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.input-form label {
    text-align: left;
    display: block;
}

.button-show {
    color: var(--basic-black);
    width: 260px;
    height: 50px;
    border: none;
}

.button-show:hover {
    background-color: var(--hover-grey);
}

.button-show:active {
    background-color: var(--deep-grey);
}

.catalog .pagination {
    margin-right: 420px;
}

.sorting {
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sorting ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-content: flex-end;
}

.sorting p {
    font-weight: 700;
    margin-right: 310px;
}

.sorting li {
    list-style: none;
    margin-left: 15px;
    opacity: 0.3;
}

.sorting li:hover {
    opacity: 0.6;
}

.sorting li:active {
    opacity: 1;
}

.sorting a {
    text-decoration: none;
    color: var(--basic-black);
}

.products {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 30px;
}

.products li {
    list-style: none;
}

.products a {
    text-decoration: none;
    text-transform: uppercase;
}

.content-block {
    width: 360px;
    min-height: 231px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: var(--basic-grey);
}

.content-block p:nth-child(2) {
    color: var(--special-grey);
    line-height: 18px;
}

.content-block a:first-child {
    color: var(--basic-black);
}

.content-block a:first-child:hover {
    color: var(--basic-red);
}

.content-block a:first-child:active {
    opacity: 0.3;
}

.button-price {
    background-color: var(--basic-red);
}

.button-price:hover {
    background-color: var(--hover-red);
}

.button-price:active {
    background-color: var(--deep-red);
}

.pagination {
    padding: 0;
    margin: 55px 0 0 0;
    list-style: none;
    display: flex;
    text-transform: uppercase;
}

.pagination li {
    margin-right: 11px;
}

.pagination a {
    color: var(--basic-black);
    background-color: var(--basic-grey);
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 3px;
}

.pagination a:hover:not(.disable-button) {
    background-color: var(--hover-grey);
}

.pagination a:active:not(.disable-button) {
    background-color: var(--deep-grey);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    opacity: 0.3;
}

.pagination .disable-button {
    padding: 12px 17px;
    background-color: var(--basic-white);
    border: 3px solid var(--basic-grey);
}