:root {
    --basic-red: #FB565A;
    --hover-red: #E74246;
    --deep-red: #D7373B;
    --basic-green: #00CA74;
    --hover-green: #00BC6C;
    --deep-green: #00AA62;
    --basic-yellow: #EFC849;
    --hover-yellow: #EAB534;
    --deep-yellow: #E5A722;
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-grey: #eeeeee;
}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-black);
    background-color: #ffffff;
}

.main-header {
    background-color: var(--basic-grey);
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.main-navigation a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--basic-black);
}

.main-navigation a:hover {
    color: var(--basic-red);
}

.main-navigation a:active {
    opacity: 0.3;
}

.navigation-list li {
    list-style: none;
    display: inline-block;
    margin-left: 30px;
}

.work-list li {
    margin: 15px;
}

.work-item1 {
    background-color: var(--basic-red);
}

.work-item2 {
    background-color: var(--basic-green);
}

.work-item3 {
    background-color: var(--basic-yellow);
}

.logo:hover {
    opacity: 0.7;
}

.logo:active {
    opacity: 0.3;
}

.slider-item p:first-child {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
}

.button {
    line-height: 18px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 3px;
    color: var(--basic-white);
    background-color: var(--basic-red);
}

.button:hover {
    background-color: var(--hover-red);
}

.button:active {
    background-color: var(--deep-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    opacity: 0.3;
}

.green {
    background-color: var(--basic-green);
}

.green:hover {
    background-color: var(--hover-green);
}

.green:active {
    background-color: var(--deep-green);
}

.yellow {
    background-color: var(--basic-yellow);
}

.yellow:hover {
    background-color: var(--hover-yellow);
}

.yellow:active {
    background-color: var(--deep-yellow);
}

.work-list {
    list-style: none;
}

.social li {
    list-style: none;
    display: inline-block;
}

.skill-list {
    list-style: none;
}

.partners {
    border-top: 2px solid var(--basic-grey);
    border-bottom: 2px solid var(--basic-grey);
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.partners li {
    display: inline-block;
    list-style: none;
    border-right: 2px solid var(--basic-grey);
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    margin: 10px;
}

.partners li:last-child {
    border: none;
}

.partners a {
    opacity: 0.2;
    margin-left: 50px;
}

.partners a:hover {
    opacity: 1;
}

.partners a:active {
    opacity: 0.1;
}

.social li {
    background-color: var(--basic-grey);
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
    vertical-align: middle;
    text-align: center;
}

.social li:hover {
    background-color: var(--hover-red);
}

.social li:active {
    background-color: var(--deep-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    opacity: 0.3;
}